html{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(219, 202, 235);
}

header {
    display: flex;
    padding-left:  150px;
    padding-right: 150px;
    align-items: center;
    justify-content: space-between;
}

.logo-header {
    width: 18%;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu li a {
    color: rgb(93, 4, 98);
    text-decoration: none;
    margin-right: 70px;
    font-size: 30px;
}

#introducao {
    display: flex;
    height: 600px;
    align-items: center;
    font-size: 30px;
}

#introducao div{
    width: 50%;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 50px;
    color: rgb(104, 68, 123);
}
#sobre-nos{ 
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(104, 68, 123);
    height: 250px;
    display: flex;
    flex-direction: column;
    color: rgb(219, 202, 235);
    font-size: 25px;
}


#produtos{
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
    color: rgb(104, 68, 123);
}

#produtos h2{ 
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

.conteudo-produtos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px; 
}

.produto{
    width: 300px;
    text-align: center;
}

footer{ 
    background-color: rgb(104, 68, 123);
    color: rgb(219, 202, 235);
    margin: 0;
    text-align: center;
    padding-top: 25px;
}

footer p {
    margin: 0;
}

.direitos-autorais{
    padding-top: 25px;
    padding-bottom: 25px;

}